# Entornos virtuales
venv/
env/

# Archivos de entorno
.env
*.env

# Cachés de Python
__pycache__/
*.py[cod]
*.so

# Notebooks y checkpoints
.ipynb_checkpoints/

# Archivos temporales
*.log
*.tmp
*.bak

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de Streamlit (logs y config)
.streamlit/config.toml